@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 94.51%;
    --foreground: 0 0% 13.33%;
    --muted: 23 6% 91%;
    --muted-foreground: 23 2% 31%;
    --popover: 23 38% 99%;
    --popover-foreground: 0 0% 13.33%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 13.33%;
    --border: 23 2% 94%;
    --input: 23 2% 94%;
    --primary: 16.53 82.27% 60.2%;
    --primary-foreground: 0 0% 100%;
    --secondary: 23 8% 91%;
    --secondary-foreground: 23 8% 31%;
    --accent: 23 17% 86%;
    --accent-foreground: 23 17% 26%;
    --destructive: 18 94% 27%;
    --destructive-foreground: 18 94% 87%;
    --ring: 16.53 82.27% 60.2%;
    --radius: 0.5rem;
    --chart-1: 16.53 82.27% 75%;
    --chart-2: 16.53 82.27% 70%;
    --chart-3: 16.53 82.27% 80%;
    --chart-4: 16.53 82.27% 88%;
    --chart-5: 16.53 82.27% 93%;
  }

  .dark {
    --background: 23 34% 1%;
    --foreground: 23 16% 99%;
    --muted: 23 6% 9%;
    --muted-foreground: 23 2% 69%;
    --popover: 23 34% 1%;
    --popover-foreground: 23 16% 99%;
    --card: 23 34% 1%;
    --card-foreground: 23 16% 99%;
    --border: 23 2% 13%;
    --input: 23 2% 13%;
    --primary: 23 97% 46%;
    --primary-foreground: 0 0% 100%;
    --secondary: 23 2% 20%;
    --secondary-foreground: 23 2% 80%;
    --accent: 23 9% 29%;
    --accent-foreground: 23 9% 89%;
    --destructive: 18 94% 57%;
    --destructive-foreground: 0 0% 0%;
    --ring: 23 97% 46%;
    --chart-1: 16.53 82.27% 75%;
    --chart-2: 16.53 82.27% 70%;
    --chart-3: 16.53 82.27% 80%;
    --chart-4: 16.53 82.27% 88%;
    --chart-5: 16.53 82.27% 93%;
  }
}

@layer base {
  * {
    @apply border-border;
    scrollbar-color: hsl(var(--border)) hsl(var(--background));
    scrollbar-width: thin;
  }
  body {
    @apply bg-[#e8e8e8] text-foreground;
    text-shadow: 0 0 0.5rem;
    padding: 2rem;
  }
}

#monitor {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem 1rem 20rem 1rem;
  background: #c7c3c0;
  padding: 1rem;
  box-shadow:
    rgba(0, 0, 0, 0.377) 5px 5px 3px,
    #ffffff 1.5px 1.5px 2px 0px inset,
    #c7c3c0 -3.2px -3.2px 4px 0px inset;
}

#container {
  box-shadow: inset 0px 0px 2rem;
  background: hsl(var(--background));
  background-image: linear-gradient(0deg, #0000 10%, #fff1 90%, #0000 100%);
  animation: crtAnimation 100s linear infinite;
  background-size: 100% 80%;

  /*mask-image: linear-gradient(to bottom, #0005 10%, #000 80%);*/
  /*mask-size: 100% 2px;*/

  width: 100%;
  height: 100%;

  border-radius: 1rem 1rem 20rem 1rem;
  color: hsl(var(--primary));
}

@keyframes crtAnimation {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 0 10000%;
  }
}

/* Teenage Engineering [EP-133 K.O. II] - Buttons */
.button1 {
  width: 5.7em;
  height: 5.7em;
  border: none;
  outline: none;
  background-color: #c7c3c0;
  box-shadow:
    rgba(0, 0, 0, 0.377) 5px 5px 3px,
    #ffffff 1.5px 1.5px 2px 0px inset,
    #c7c3c0 -3.2px -3.2px 4px 0px inset;
  cursor: pointer;
  font-family: Montserrat;
  transition: 0.1s ease-in-out;
}
.button2 {
  width: 5.7em;
  height: 5.7em;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: #c7c3c0;
  box-shadow:
    rgba(0, 0, 0, 0.377) 10px 10px 8px,
    #ffffff 1.5px 1.5px 2px 0px inset,
    #c7c3c0 -3.2px -3.2px 8px 0px inset;
  cursor: pointer;
  font-family: Montserrat;
  transition: 0.1s ease-in-out;
}
.svg1 {
  fill: #5f5f5f;
  width: 25px;
  height: 25px;
  transition: 0.1s ease-in-out;
}
.svg2 {
  fill: #5f5f5f;
  width: 25px;
  height: 25px;
  transition: 0.1s ease-in-out;
}

.button3 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 5.7em;
  height: 5.7em;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: #d42a02;
  box-shadow:
    rgba(0, 0, 0, 0.377) 10px 10px 8px,
    #fb702c 2px 2px 10px 0px inset,
    #d42a02 -4px -4px 1px 0px inset;
  cursor: pointer;
  font-family: Montserrat;
  transition: 0.1s ease-in-out;
}
.button4 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 5.7em;
  height: 5.7em;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: #545251;
  box-shadow:
    rgba(0, 0, 0, 0.377) 10px 10px 8px,
    #a8a6a4 1.5px 1.5px 1px 0px inset,
    #545251 -3.2px -3.2px 8px 0px inset;
  cursor: pointer;
  font-family: Montserrat;
  transition: 0.1s ease-in-out;
}

.button_text {
  color: white;
  padding-top: 0.9em;
  letter-spacing: 0.075em;
  font-size: 0.85em;
  transition: 0.1s ease-in-out;
}

.text {
  font-family: Montserrat;
  text-align: center;
  font-size: 0.65em;
}

.button1:active,
.button2:active {
  box-shadow:
    rgba(0, 0, 0, 0.377) 0px 0px 0px,
    inset 0.5px 0.5px 4px #000000,
    #c7c3c0 -3.2px -3.2px 8px 0px inset;
}
.button1:active .svg1,
.button2:active .svg2 {
  scale: 0.95;
}
.button3:active {
  box-shadow:
    rgba(0, 0, 0, 0.377) 0px 0px 0px,
    inset 0.5px 0.5px 4px #000000,
    #d42a02 -3.2px -3.2px 8px 0px inset;
}
.button3:active .button_text {
  transform: translateY(0.5px);
}
.button4:active {
  box-shadow:
    rgba(0, 0, 0, 0.377) 0px 0px 0px,
    inset 0.5px 0.5px 4px #000000,
    #545251 -3.2px -3.2px 8px 0px inset;
}
.button4:active .button_text {
  transform: translateY(0.5px);
}
