@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 37.5 29% 95%;
    --foreground: 0 0% 19.61%;
    --muted: 37 23% 94%;
    --muted-foreground: 37 9% 34%;
    --popover: 0 0% 99%;
    --popover-foreground: 0 0% 19.61%;
    --card: 0 0% 99%;
    --card-foreground: 0 0% 19.61%;
    --border: 37.5 38.71% 87.84%;
    --input: 37.5 39% 66%;
    --primary: 37 39% 88%;
    --primary-foreground: 37.5 39% 20%;
    --secondary: 37.5 38.71% 68%;
    --secondary-foreground: 37.14 38.65% 11%;
    --accent: 37 13% 88%;
    --accent-foreground: 37 13% 28%;
    --destructive: 4.53 86.47% 65.89%;
    --destructive-foreground: 0 0% 100%;
    --ring: 37.5 38.71% 87.84%;
    --radius: 1rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 37 56% 1%;
    --foreground: 37 32% 99%;
    --muted: 37 23% 6%;
    --muted-foreground: 37 9% 66%;
    --popover: 37 56% 2%;
    --popover-foreground: 0 0% 100%;
    --card: 37 56% 2%;
    --card-foreground: 0 0% 100%;
    --border: 37 9% 12%;
    --input: 37 9% 12%;
    --primary: 37 39% 88%;
    --primary-foreground: 37 39% 28%;
    --secondary: 37 12% 13%;
    --secondary-foreground: 37 12% 73%;
    --accent: 37 12% 13%;
    --accent-foreground: 37 12% 73%;
    --destructive: 18 88% 52%;
    --destructive-foreground: 0 0% 100%;
    --ring: 37 39% 88%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
    scrollbar-color: hsl(var(--border)) hsl(var(--background));
    scrollbar-width: thin;
  }
  body {
    @apply bg-background text-foreground;
  }
}

#container {
  background-color: transparent;
  background-image: radial-gradient(
    hsla(var(--input)) 1px,
    hsl(var(--background)) 1px
  );
  background-size: 30px 30px;
  width: 100%;
  height: 100%;
}
